.contacts_contactOptions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: end;

	
}

.contacts_contactOptions span {
	font-style: italic;
	padding: 5px 5px;
	cursor: pointer;

	
	margin-left: 10px;
}

@media (max-width: 413px) {
  .contacts_contactOptions {
    justify-content:  center;
  }
}