.contacts_contactContainer {
  box-sizing: border-box;
  width: 50vw;
  margin: 0 auto 10px;
  /*border: 1px solid black;*/
  
  /*border-bottom: solid gray 1px;*/
  padding: 10px 15px;
 
  /*background: #e3e7ed;*/
  box-shadow: 2px 2px 2px gray;
}

.contacts_contactContainer:focus {
  background: #c4d0e2;
  outline: none;

}

/*@media (max-width: 690px) {
  .contacts_contactContainer {
    width: 70vw;
  }
}
*/
@media (max-width: 960px) {
  .contacts_contactContainer {
    width: 100vw;
  }
}