@import "./varibales";
@import "../components/contacts/contacts";
@import "../components/header/header.scss";
@import "../components/searchForm/searchForm";
@import "../components/modalForm/modalForm";
@import "../components/errorField/errorField";
// page global

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: $page__body-backColor;
	position: relative;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.contacts {

	user-select: none;
	height: 100vh;
	max-height: 100vh;

	@include gridBox($contacts-grid-template-row, auto);

	@media (max-width: 690px) {
		grid-template-rows: $contacts-grid-template-row-media;
	}

	&__header {
		background-image: linear-gradient(180deg, $contacts__header-gradientColor_1, $contacts__header-gradientColor_2);
		@include flexBox(column, center, center)
	}

	&__body {
		overflow: auto;
		margin: $contacts__body-margin;

		width: $contacts__body-width;
		@include flexBox(row, center, stretch)
	}

	&__footer {
		background-image: linear-gradient(0deg, $contacts__footer-gradientColor_1, $contacts__footer-gradientColor_2);
		flex-basis: $contacts__footer-flex-basis;

		@include flexBox(column, center, end);
		padding: $contacts__footer-padding;

	}

}

.body {

	&__logIn {}

	&__loader {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		background-color: $body__loader-backColor;

		@include flexBox (column, center, center);
	}

	&__cover {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		background-color: $body__cover-backColor;
		@include flexBox(column, center, center);
	}

	&__modalForm {
		@media (max-width: 451px) {
			margin: 0;
			width: $body__modalForm-width-media;
		}
	}

	&__errorField {
		min-width: $body__errorField-minWidth;
		max-width: $body__errorField-maxWidth;
		width: $body__errorField-width;
		@include flexBox(column, center, center);
		@include setPadBorderBoxShadow($body__errorField-padding,
			$body__errorField-border,
			$body__errorField-borderRadius,
			$body__errorField-boxShadow);

		@media (max-width: 451px) {
			box-sizing: border-box;
			width: $body__errorField-width-media;
		}
	}

	&__listsItems {
		list-style: none;
		margin: $body__listItems-margin;
		padding: $body__listItems-padding;
		align-self: start;
	}

	&__contactList {
		outline: none;
		box-sizing: border-box;
		width: $body__contactList-width;
		margin: $body__contactList-margin;

		@media(max-width: 599px) {
			width: $body__contactList-width-media;
		}

		&:focus {
			background: $body__contactList-focus-color;
		}
	}
}

.tooltipBox {
	box-sizing: border-box;
	max-width: 350px;
	text-align: center;
	position: absolute;
	padding: 10px 20px;
	border: 1px solid gray;
	border-radius: 6px;
	box-shadow: 2px 2px 2px gray;
	// color: red;
	background-image: linear-gradient(90deg, rgba(225, 210, 210, 0.9), rgba(246, 234, 234, 0.8));
	z-index: 150;
	@media(max-width: 500px) {
		width: 250px;
	}
}