.contacts_contactData {
  
  display: flex;
  flex-flow: column nowrap;
  
}

.contacts_contactName {
  /*text-align: center;*/
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
}

.contacts_contactProperty {
  margin-bottom: 3px;
  display: flex;
  flex-flow: row nowrap;
  
  
}

.contacts_contactPropertyProp {
  
  flex-basis: 35%;
  text-align: end;
  
}

.contacts_contactPropertyVal {
  margin-left: 10px;

}

