.search {

	&__input {
		display: inline;

		&>.inputField {
			outline: none;
			min-width: $search__input-minWidth;
			width: $search__input-width;

			@include setPadBorderBoxShadow(
				$search__input-padding, 
				$search__input-border,
				$search__input-borderRadius, 
				$search__input-boxShadow
				);

			@media (max-width: 690px) {
				width: $search__input-width-media;
			}
		}
	}

	&__buttons {
		outline: none;
		font-weight: bold;
		cursor: pointer;
		background-color: $search__buttons-backColor;

		@include setPadBorderBoxShadow(
				$search__buttons-padding,
				$search__buttons-border,
				$search__buttons-borderRadius,
				$search__buttons-boxShadow);

		&:active>.buttonTitle {
			top: $search__buttons-active-top;
			left: $search__buttons-active-left;
			color: $search__buttons-active-color;
		}

		&>.buttonTitle {
			position: relative;
		}
	}
}