body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #e3e7ed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contacts_container {
  user-select: none;
  height: 100vh;
  max-height: 100vh;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 15% 70% 15%;
}

.contacts_body {
  overflow: auto;
  margin: 0 auto;

  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  /*align-items: center;*/
}
 

.contacts_logIn {
  align-self: center;
}



@media (max-width: 690px) {
  .contacts_container {
    grid-template-rows: 10% 84% 6%;
   
  }
}