.contactItem {
	box-shadow: $contactItem-boxShadow;
	/*background: #e3e7ed;*/

	&:focus {
		background: $contactItem-focus-backColor;
		outline: none;
	}

	&__properties {
		@include flexBox(column, auto, stretch)
	}

	&__optionsContainer {
		@include flexBox(row, end, stretch);

		padding: $contactItem__optionsContainer-padding;

		@media (max-width: 413px) {
			.contacts_contactOptions {
				justify-content: center;
			}
		}
	}

	&__name {
		padding: $contactItem__name-padding;
		font-style: italic;
		font-weight: bold;
		text-decoration: underline;
	}

	&__data {}

	&__option {
		font-style: italic;
		cursor: pointer;
		padding: $contactItem__option-padding;
	}
}

.contactData {
		@include flexBox(row, left, stretch);

	&__title {
		flex-basis: $contactData__title-flex-basis;
		text-align: $contactData__title-text-align;
	}

	&__value {
		margin: $contactData__value-margin;
	}
}